/*------------
TEMA metal cia (defecto)
===================================== importante */


.tema-osc-pre:hover[class*=punta-]:before,
.tema-osc-pre:hover,
.tema-nav-pre .nav-titulo,
.fondo-pre-o {
	background-color: #306379 !important;
}
.tema-osc-pre,
.tema-nav-pre,
.tema-pre[class*=punta-]:before,
.tema-flu-pre[class*=punta-]:before,
.tema-osc-pre[class*=punta-]:before,
.tema-trans-pre:hover[class*=punta-]:before,
.tema-pre,.tema-flu-pre,
.fondo-pre {
	background-color: #3C819E !important;
}
.tema-trans-pre,
.tema-bt-pre,
.tex-pre {
	color:  #3C819E !important;
}
.fondo-pre-2 {
	background-color: #85B5C9 !important;
}
a.tex-pre:hover,
.tex-pre-2 {
	color:  #85B5C9 !important;
}	a.tex-pre:active {
	color: #306379 !important;
}
.tema-nav-pre .sub-nav > li:hover,
.tema-est-pre[class*=punta-]:before,
.tema-est-pre,
.fondo-pre-s {
	background-color: #E5EBEE !important;
}
.tex-pre-s {
	color:  #E5EBEE !important;
}

/* borde color */
.tema-trans-pre[class*=punta-]:before,
.tema-est-pre[class*=punta-]:before,
.tema-bt-pre[class*=punta-]:before,
.borde-pre[class*=punta-]:before,
.tema-trans-pre,
.tema-est-pre,
.tema-bt-pre,
.bord-pre {
	border-color: #3C819E !important;
}
.anillo-pre {
	border-top-color: #3C819E !important;
}

/* fondo vidrio color */
.vidrio-pre {
	background-color: rgba(60,129,158,.5) !important;
}

/* tema gradiante color */
.tema-gra-pre {
	background: -webkit-linear-gradient( 45deg, #306379, #85B5C9) !important;
	background: -o-linear-gradient( 45deg, #306379, #85B5C9) !important;
	background: linear-gradient( 45deg, #306379, #85B5C9) !important;
}

/* tema transicion */
.tema-trans-pre {
	border: 1px solid;
}	.tema-trans-pre:hover {
	background-color: #3C819E !important;
}

/* tema progreso-circular */
.tema-bt-pre .bloq-circulo {
	border-bottom-color: #3C819E !important;
  	border-right-color: #3C819E !important;
}

.tema-osc-pre,
.tema-osc-pre[class*=punta-]:before,
.tema-trans-pre[class*=punta-]:before,
a.tex-pre,
.tema-trans-pre {
	transition: all ease-out 200ms !important;
}

/* flecha tema */
.tema-bt-pre.flecha-arr:before,
.tema-est-pre.flecha-arr:before,
.bord-pre.flecha-arr:before,
.fle-pre.flecha-arr:before,
.tema-pre.flecha-arr:before {
	border-bottom-color: #3C819E !important;
}
.tema-bt-pre.flecha-der:before,
.tema-est-pre.flecha-der:before,
.bord-pre.flecha-der:before,
.fle-pre.flecha-der:before,
.tema-pre.flecha-der:before {
	border-left-color: #3C819E !important;
}
.tema-bt-pre.flecha-aba:before,
.tema-est-pre.flecha-aba:before,
.bord-pre.flecha-aba:before,
.fle-pre.flecha-aba:before,
.tema-pre.flecha-aba:before {
	border-top-color: #3C819E !important;
}
.tema-bt-pre.flecha-izq:before,
.tema-est-pre.flecha-izq:before,
.bord-pre.flecha-izq:before,
.fle-pre.flecha-izq:before,
.tema-pre.flecha-izq:before {
	border-right-color: #3C819E !important;
}
/*------------ fin tema */


/*
importante

AUTO AJUSTADO
color fuente y borde segun el color de tema  */
/* tex fondo blanco */
.tema-osc-pre,
.tex-a-pre li > a,
.tema-nav-pre li,
.tema-nav-pre li > a,
.tema-trans-pre:hover,
.tema-gra-pre,
.tema-flu-pre,
.tema-pre {
	color: #ffffff !important;
}

.tema-trans-pre {
	background-color: #ffffff !important;
}

.tema-flu-pre {
	border: 1px solid;
}
.tema-flu-pre,
.tema-flu-pre[class*=punta-]:before,
.tema-flu-pre [class*=punta-]:before {
	border-color: #fff !important;
}

/* tex fondo blanegro */
.tema-nav-pre .caja-oculta li a {
	color: #333  !important;
}
* [class*=boton-].tema-bt-pre,
.boton.tema-bt-pre {
	background-color: transparent !important;
}
